.chat-box {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 100vw;
    max-width: 500px;
    height: 95vh;
    max-height: 900px;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
}

.chat {
    height: 88%;
    overflow: auto;
}

#scrollDown {
    position: absolute;
    bottom: 55px;
    border-radius: 20px;
    right: 20px;
}

#login {
    padding: 15px 25px;
    position: absolute;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%);
    border-radius: 10px;
}

button,
.send-message {
    color: white;
    border: 0;
    background: #3fafff;
    padding: 10px;
}

.reciever-message-wrapper {
    display: flex;
    width: 100%;
}

.sender-message-wrapper {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.sendmessage {
    height: 12%;
}

.name {
    font-weight: bold;
    color: #cecece;
    text-transform: capitalize;
    text-decoration: underline;
    font-size: 13px;
}

.sendmessage form {
    height: 100%;
}

.sendmessage input {
    height: 100%;
}

.message-input {
    border-radius: 10px 0px 0px 10px;
    width: 80%;
}

.send-message {
    border-radius: 0px 10px 10px 0px;
    width: 20%;
}

.message-container {
    /* border: 1px solid blue; */
    color: white;
    max-width: 80%;
    border-radius: 10px;
    margin: 8px;
    padding: 10px;
}

.sender {
    float: right;
    background: #3fafff;
}

.reciever {
    float: left;
    background-color: #8a8a8a;
}

.time {
    float: right;
    color: #d6d6d6;
    font-size: 13px;
}